$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  box-sizing: border-box;
  height: auto;
  max-width: 1200px;
}

header > div {
  border: 1px solid black;
  margin-bottom: 300px;
  text-align: center;
}

.row {
  margin: auto;
  width: 50%;
}

.game-board {
  border: 1px solid black;
  height: 120px;
  margin: auto;
  width: 120px;
}
