$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$board-background: #8c9aff;
$message-color: #ff959a;
$green: #0d0;
$red: #d00;

body {
  height: auto;
  max-width: 1200px;
  width: 100%;
}

header > div {
  border: 1px solid $black;
  margin-bottom: 100px;
  text-align: center;
}

table {
  margin: auto;
}

.new-game {
  clear: both;
  text-align: center;
}

.btn-secondary {
  background-color: $black;
  border: 1px solid $black;
  color: $red;
  margin: auto;

  &:focus,
  &:hover {
    color: $green;
  }
}

.message {
  clear: both;
  color: $message-color;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  width: 450px;
}

.game-board {
  background-color: $board-background;
  border: 1px solid $black;
  height: 150px;
  min-height: 150px;
  min-width: 150px;
  width: 150px;
}

.token {
  font-size: 600%;
  text-align: center;
}

.modal {
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal2 {
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.modal-content2 {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
}
