$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');
$black: #000;
$board-background: #8c9aff;
$message-color: #ff959a;
$green: #0d0;
$red: #d00;

body {
  height: auto;
  max-width: 1200px;
  min-width: 453px;
  width: 100%;
}

header {
  min-width: 453px;
}

table {
  margin: auto;
}

.sign-in-nav {
  display: block;
}

.account-nav {
  display: none;
}

.dropdown-menu {
  width: 300px;
}

.game {
  box-sizing: border-box;
  margin-top: 100px;
  min-width: 453px;
}

.new-game {
  clear: both;
  text-align: center;
}

.btn-secondary {
  background-color: $black;
  border: 1px solid $black;
  color: $red;
  margin: auto;

  &:focus,
  &:hover {
    color: $green;
  }
}

.message {
  clear: both;
  color: $message-color;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  width: 450px;
}

.game-board {
  background-color: $board-background;
  border: 1px solid $black;
  font-family: 'Mr Bedfort', cursive;
  height: 150px;
  min-height: 150px;
  min-width: 150px;
  width: 150px;
}

.token {
  font-size: 600%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:focus,
  &:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }
}
